# .env.example

# Environment Name
NODE_ENV=development

# Server listen to this port
PORT=3000

#Cors
CORS_URL=*

# Database 

# YOUR_MONGO_DB_NAME
DB_NAME=<dbname>

#YOUR_MONGO_DB_USER_NAME
DB_USER=<dbuser>

#YOUR_MONGO_DB_USER_PWD
DB_USER_PWD=<dbpassword>

# Log
# Example '/home/node/logs'
# DEFAUlT is this project's directory
LOG_DIR=<logDirectory>

# Token Info
ACCESS_TOKEN_VALIDITY_DAYS=30
REFRESH_TOKEN_VALIDITY_DAYS=120
TOKEN_ISSUER=wayOfSamurai
TOKEN_AUDIENCE=wayOfSamurai